body {
  background-color: #f8f8f8;
  font-size: 1.2em;
  max-width: 40em;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

h2, h3 {
  font-family: 'Noto Sans', sans-serif;
}

h4, dt {
  font-family: 'DM Sans', sans-serif;
}

p, li, dd {
  font-family: 'Crimson Pro', serif;
}

dt {
  margin-top: .5em;
}

abbr {
  background-color: #ffc;
  text-decoration: none;
}

code {
  font-family: 'Consolas', 'Source Code Pro', monospace;
}

kbd, .command {
  background-color: #eef;
}

.box {
  border: 1px solid black;
  display: inline-block;
  height: .9em;
  width: .9em;
}

.box-black {
  background-color: black;
}

.box-red {
  background-color: red;
}

.box-blue {
  background-color: blue;
}

.box-yellow {
  background-color: yellow;
}

.box-purple {
  background-color: purple;
}

.box-orange {
  background-color: orange;
}

.proselike {
  margin: 10px 0;
}

.toc-section {
  margin: 8px 0;
}

.toc-subsection {
  margin: 3px 0;
}
