body {
  max-width: 45em;
}

abbr {
  background-color: #ffc;
  text-decoration: none;
}

.box {
  border: 1px solid black;
  display: inline-block;
  height: .9em;
  width: .9em;
}

.box-black {
  background-color: black;
}

.box-red {
  background-color: red;
}

.box-blue {
  background-color: blue;
}

.box-yellow {
  background-color: yellow;
}

.box-purple {
  background-color: purple;
}

.box-orange {
  background-color: orange;
}

.proselike {
  margin: 10px 0;
}

.toc-section {
  margin: 8px 0;
}

.toc-subsection {
  margin: 3px 0;
}
