body {
  background-color: #f8f8f8;
  font-size: 1.3em;
  margin: 0 auto;
  max-width: 32.75em;
  padding: 0 5px;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

h2, h3 {
  font-family: 'Noto Sans', sans-serif;
}

h4, dt {
  font-family: 'DM Sans', sans-serif;
  font-feature-settings: 'liga' off;
}

dt {
  font-weight: bold;
  margin-top: .5em;
}

p, li, dd {
  font-family: 'Source Serif Pro', serif;
  font-feature-settings: 'liga' on;
  hyphens: auto;
  -ms-hyphenate-limit-chars: 7 2 2;
  -ms-hyphens: auto;
}

a, abbr, kbd, .command {
  hyphens: none;
  -ms-hyphens: none;
}

a, abbr {
  text-decoration: none;
}

a.external:link, a.external:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a:link, a.external:hover:link {
  color: #0066CC;
}

a:visited, a.external:hover:visited {
  color: #800080;
}

abbr {
  background-color: #ffc;
}

code {
  font-family: 'Consolas', 'Source Code Pro', monospace;
}

kbd, .command {
  background-color: #eef;
}

.box {
  border: 1px solid black;
  display: inline-block;
  height: .9em;
  vertical-align: -10%;
  width: .9em;
}

.box-black {
  background-color: black;
}

.box-red {
  background-color: red;
}

.box-blue {
  background-color: blue;
}

.box-yellow {
  background-color: yellow;
}

.box-purple {
  background-color: purple;
}

.box-orange {
  background-color: orange;
}

/* https://stackoverflow.com/a/31330454 */
a.external:after {
  text-decoration: underline;
}

a.external::after {
  content: "\01F4A7"; /* water drop */
  font-size: x-small;
  vertical-align: 60%;
  text-decoration: none;
}

.proselike {
  margin: 10px 0;
}

.toc-section {
  margin: 8px 0;
}

.toc-subsection {
  margin: 3px 0;
}
