div {
  border: 1px solid black;
  width: 1em;
  height: 1em;
}

table, td {
  font-family: sans-serif;
  font-size: small;
  padding: 1px;
}

td, th {
  white-space: nowrap;
}

thead {
  background-color: #333;
  color: #eee;
}

/* Based on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
 * but simplified and also modified so elements take up a little less space.
 */
kbd {
  background-color: #eee;
  border-radius: 1px;
  border: 1px solid #b4b4b4;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  padding: 1px 2px;
}

.number-cell {
  text-align: right;
}

#cheat-sheet {
  margin-top: -15px;
  margin-left: -10px;
}

#draw-color-box {
  background-color: black;
}

#stack-fill-color-box {
  background-color: red;
}

#queue-fill-color-box {
  background-color: blue;
}

#random-fill-color-box {
  background-color: yellow;
}
