table, td {
  font-family: sans-serif;
  font-size: small;
  padding: 1px;
}

td, th {
  white-space: nowrap;
}

thead {
  background-color: #333;
  color: #eee;
}

.cheat-sheet {
  margin-left: -10px;
  margin-top: -15px;
}

.color-box {
  border: 1px solid black;
  height: 1em;
  width: 1em;
}

.color-box-draw {
  background-color: black;
}

.color-box-stack-fill {
  background-color: red;
}

.color-box-queue-fill {
  background-color: blue;
}

.color-box-random-fill {
  background-color: yellow;
}

.color-box-deque-fill {
  background-color: purple;
}

.color-box-recursive-fill {
  background-color: orange;
}

.number-cell {
  text-align: right;
}
