table, td {
  font-family: 'Segoe UI', 'Nimbus Sans L', sans-serif;
  font-size: small;
  padding: 1px;
}

td, th {
  white-space: nowrap;
}

tfoot {
  text-align: center;
}

thead {
  background-color: #333;
  color: #eee;
}

.cheat-sheet {
  margin-left: -10px;
  margin-top: -15px;
}

.color-box {
  border: 1px solid black;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.color-box-draw, .color-box-instant-fill {
  background-color: black;
}

.color-box-stack-fill {
  background-color: red;
}

.color-box-queue-fill {
  background-color: blue;
}

.color-box-random-fill {
  background-color: yellow;
}

.color-box-deque-fill {
  background-color: purple;
}

.color-box-recursive-fill {
  background-color: orange;
}

.number-cell {
  text-align: right;
}

.standalone {
  background-color: #eef;
  color: black;
  text-align: center;
}

.subheading {
  background-color: lightgray;
  color: black;
}
