body {
  background-color: #f8f8f8;
  font-size: 1.3em;
  margin: 0 auto;
  max-width: 32.75em;
  padding: 0 5px;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, dt {
  font-family: 'Ubuntu', sans-serif;
}

/* h2, h3, h4 {
  margin-top: 1.2em;
} */

h1 {
  /* font-size: 2.1em; */
  font-weight: 400;
}

h2 {
  /* font-size: 1.6em; */
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-top: 1.2em;
}

h3, h4, dt {
  font-size: 1em;
}

h3 {
  font-weight: 400;
  letter-spacing: 0.07em;
  margin-top: 1.4em;
}

h4 {
  font-weight: 300;
  letter-spacing: 0.07em;
}

dt {
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-top: .5em;
}

p, li, dd {
  font-family: 'Source Serif Pro', serif;
  font-feature-settings: 'liga' on;
  hyphens: auto;
  -ms-hyphenate-limit-chars: 7 2 2;
  -ms-hyphens: auto;
}

dd>ul, dd>ol, dd>ul>li, dd>ol>li {
  margin: 3px;
}

a, abbr, kbd, .command {
  hyphens: none;
  -ms-hyphens: none;
}

a, abbr {
  text-decoration: none;
}

a.external {
  white-space: nowrap;
}

a.external.wide {
  hyphens: auto;
  -ms-hyphens: auto;
  white-space: normal;
}

a.external:link, a.external:visited {
  color: inherit;
}

a:hover {
  background-color: azure;
  text-decoration: underline;
}

a:link, a.external:hover:link {
  color: #0066CC;
}

a:visited, a.external:hover:visited {
  color: #800080;
}

/* Set text decoration before later removing it, so IE/WebBrowser applies the
 * removal. For other browsers, setting inline-block, as below, makes it work.
 * For IE, this hack does it, with or without inline-block. I don't know why.
 * See https://stackoverflow.com/a/31330454 (answer to "Stop link's :before
 * content from being underlined by rule applied to the link" on Stack Overflow
 * by https://stackoverflow.com/users/5100822/user5100822). */
a.external:after {
  text-decoration: underline;
}

a.external::after {
  color: #00bcf2;
  content: "\02060\01F4A7"; /* word-joiner, water drop emoji */
  display: inline-block;
  font-size: x-small;
  vertical-align: 60%;
  text-decoration: none;
}

abbr {
  background-color: #ffc;
}

b {
  font-style: normal;
  font-weight: 600; /* semi-bold */
}

code {
  font-family: 'Consolas', 'Source Code Pro', monospace;
}

kbd, .command {
  background-color: #eeeeff;
}

kbd:hover {
  background-color: #e2e2ff;
}

.proselike {
  margin: 10px 0;
}

.toc-section {
  margin: 8px 0;
}

.toc-subsection {
  margin: 3px 0;
}
