body {
  background-color: #f8f8f8;
  font-size: 1.3em;
  margin: 0 auto;
  max-width: 32.75em;
  padding: 0 13px;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 1.1em;
}

main h2 {
  border-top: 1px solid;
  letter-spacing: .1em;
  margin-top: 1.1em;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  letter-spacing: .07em;
  margin-top: 1.4em;
}

h4 {
  font-family: 'DM Sans', sans-serif;
  font-feature-settings: 'liga' off;
  font-weight: normal;
  letter-spacing: .07em;
  margin-top: 1.4em;
}

p {
  margin-bottom: .85em;
  margin-top: .85em;
}

p, li {
  font-family: 'Source Serif Pro', serif;
  font-feature-settings: 'liga' on;
  hyphens: auto;
  -ms-hyphenate-limit-chars: 7 2 2;
  -ms-hyphens: auto;
}

nav>ol>li {
  margin: 8px 0;
}

nav>ol>li>ol>li {
  margin: 3px 0;
}

main ul, main li {
  margin: 10px 0;
}

main ul.markable-item-list, main ul.markable-item-list>li {
  list-style: none;
  margin: 0;
  padding: 0;
}

main ul.markable-item-list>li ul>li {
  list-style-type: disc;
}

a, abbr, kbd, .command {
  hyphens: none;
  -ms-hyphens: none;
}

a, abbr {
  text-decoration: none;
}

a.external {
  white-space: nowrap;
}

a.external.wide {
  hyphens: auto;
  -ms-hyphens: auto;
  white-space: normal;
}

a.external:link, a.external:visited {
  color: inherit;
}

a:hover {
  background-color: azure;
  text-decoration: underline;
}

a:link, a.external:hover:link {
  color: #0066CC;
}

a:visited, a.external:hover:visited {
  color: #800080;
}

/*
  Set text decoration before later removing it, so IE/WebBrowser applies the
  removal. For other browsers, setting inline-block, as below, makes it work.
  For IE, this hack does it, with or without inline-block. I don't know why.
  See https://stackoverflow.com/a/31330454 (answer to "Stop link's :before
  content from being underlined by rule applied to the link" on Stack Overflow
  by https://stackoverflow.com/users/5100822/user5100822).
*/
a.external:after {
  text-decoration: underline;
}

a.external:after {
  color: #00bcf2;
  content: "\02060\01F4A7"; /* word-joiner, water drop emoji */
  display: inline-block;
  font-size: x-small;
  vertical-align: 60%;
  text-decoration: none;
}

a.navlink {
  background-color: transparent;
  color: #949494;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: .75em;
  font-weight: 300;
  padding-left: .375em;
  text-decoration: none;
  vertical-align: 10%;
}

a.navlink:hover {
  color: black;
}

abbr {
  background-color: #ffc;
}

b {
  font-style: normal;
  font-weight: 600;
}

code {
  font-family: 'Consolas', 'Source Code Pro', monospace;
}

kbd, .command {
  background-color: #eeeeff;
}

kbd:hover {
  background-color: #e2e2ff;
}

.highlighted {
  border-left: 8px solid #e86100;
  margin-left: -13px;
  padding-left: 5px;
}
