/*
  help.css - Styling for the full-length help file.
  This file is part of Flood, an interactive flood-fill visualizer.

  Copyright 2020, 2021 Eliah Kagan <degeneracypressure@gmail.com>

  Permission to use, copy, modify, and/or distribute this software for any
  purpose with or without fee is hereby granted.

  THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
  REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY
  AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
  INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
  LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR
  OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
  PERFORMANCE OF THIS SOFTWARE.
*/

body {
  background-color: #f8f8f8;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  font-size: 1.3em;
  margin: 0 auto;
  max-width: 32.75em;
  padding: 0 13px;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, details>summary {
  font-family: 'Inter', sans-serif;
}

nav {
  line-height: 1.275;
}

main {
  line-height: 1.45;
}

@media(max-width: 400px) {
  main {
    line-height: 1.35;
  }
}

h1 {
  font-size: 2.3em;
  font-weight: 300;
  letter-spacing: .05em;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 1.1em;
}

main h2 {
  border-top: 1px solid;
  letter-spacing: .05em;
  margin-top: 1.1em;
}

h3 {
  font-weight: 600;
  margin-top: 1.4em;
}

h4 {
  font-weight: 500;
  margin-top: 1.4em;
}

p {
  margin-bottom: .85em;
  margin-top: .85em;
}

p, li {
  font-family: 'Source Serif Pro', serif;
  font-feature-settings: 'liga' on;
  hyphens: auto;
  -ms-hyphenate-limit-chars: 6 2 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphens: auto;
}

details>summary {
  cursor: pointer;
  font-size: .85em;
}

pre, details>pre {
  background-color: aliceblue;
  font-family: 'Source Code Pro', monospace;
  font-size: .7em;
}

nav>ol>li {
  margin: 8px 0;
}

nav>ol>li>ol>li {
  margin: 3px 0;
}

main ul, main li {
  margin: 10px 0;
}

main ul.markable-item-list, main ul.markable-item-list>li {
  list-style: none;
  margin: 0;
  padding: 0;
}

main ul>li, main ul.markable-item-list>li ul>li {
  list-style-type: '\2731';
  padding-left: .5em;
}

a, abbr, kbd, .command {
  hyphens: none;
  -ms-hyphens: none;
}

a, abbr {
  text-decoration: none;
}

a.external {
  white-space: nowrap;
}

a.external.wide {
  hyphens: auto;
  -ms-hyphens: auto;
  white-space: normal;
}

a.external:link, a.external:visited {
  color: inherit;
}

a:hover {
  background-color: azure;
  text-decoration: underline;
}

a:link, a.external:hover:link {
  color: #0066CC;
}

a:visited, a.external:hover:visited {
  color: #800080;
}

/*
  Set text decoration before later removing it, so IE/WebBrowser applies the
  removal. For other browsers, setting inline-block, as below, makes it work.
  For IE, this hack does it, with or without inline-block. I don't know why.
  See https://stackoverflow.com/a/31330454 (answer to "Stop link's :before
  content from being underlined by rule applied to the link" on Stack Overflow
  by https://stackoverflow.com/users/5100822/user5100822).
*/
a.external:after {
  text-decoration: underline;
}

a.external:after {
  color: #00bcf2;
  content: "\02060\01F4A7"; /* word-joiner, water drop emoji */
  display: inline-block;
  font-size: x-small;
  vertical-align: 60%;
  text-decoration: none;
}

a.navlink {
  background-color: transparent;
  color: #949494;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: .75em;
  padding-left: .375em;
  text-decoration: none;
  vertical-align: 10%;
}

a.navlink:hover {
  color: black;
}

h1>a.navlink, h2>a.navlink {
  font-weight: 300;
}

h3>a.navlink, h4>a.navlink {
  font-weight: 400;
}

abbr {
  background-color: #ffc;
}

b {
  font-style: normal;
  font-weight: 600;
}

code, pre>code, details>pre>code {
  font-family: 'Consolas', 'Source Code Pro', monospace;
}

kbd, .command {
  background-color: #eeeeff;
}

kbd:hover {
  background-color: #e2e2ff;
}

.highlighted {
  border-left: 8px solid #e86100;
  margin-left: -13px;
  padding-left: 5px;
}
