/*
  shared.css - Styles shared by tips and help.
  This file is part of Flood, an interactive flood-fill visualizer.

  Copyright 2021 Eliah Kagan <degeneracypressure@gmail.com>

  Permission to use, copy, modify, and/or distribute this software for any
  purpose with or without fee is hereby granted.

  THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
  REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY
  AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
  INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
  LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR
  OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
  PERFORMANCE OF THIS SOFTWARE.
*/

kbd {
  /*
    Based on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd but
    simplified and also modified so elements take up a little less space.
  */
  background-color: #eeeeee;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-family: 'Consolas', 'Source Code Pro', monospace;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 0.07em;
  margin: 1px;
  padding: 1px 2px;
}

kbd:hover {
  background-color: #e2e2e2;
}

.box {
  border: 1px solid black;
  display: inline-block;
  height: .9em;
  vertical-align: -10%;
  width: .9em;
}

.box-black {
  background-color: black;
}

.box-red {
  background-color: red;
}

.box-blue {
  background-color: blue;
}

.box-yellow {
  background-color: yellow;
}

.box-purple {
  background-color: purple;
}

.box-orange {
  background-color: orange;
}
