/* Based on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd
 * but simplified and also modified so elements take up a little less space.
 */
kbd {
  background-color: #eeeeee;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-family: 'Consolas', 'Source Code Pro', monospace;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: .07em;
  margin: 1px;
  padding: 1px 2px;
}

kbd:hover {
  background-color: #e2e2e2;
}

.box {
  border: 1px solid black;
  display: inline-block;
  height: .9em;
  vertical-align: -10%;
  width: .9em;
}

.box-black {
  background-color: black;
}

.box-red {
  background-color: red;
}

.box-blue {
  background-color: blue;
}

.box-yellow {
  background-color: yellow;
}

.box-purple {
  background-color: purple;
}

.box-orange {
  background-color: orange;
}
