body {
  cursor: default;
  font-family: 'Segoe UI', 'DM Sans', 'Selawik', '-apple-system', system-ui, 'BlinkMacSystemFont', 'Nimbus Sans L', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: small;
  font-variant-numeric: tabular-nums;
  margin: 0;
}

table {
  border-collapse: collapse;
}

tfoot {
  text-align: center;
}

th, tr {
  border: 1px solid white;
}

th, td {
  padding-bottom: 0;
  white-space: nowrap;
}

td {
  border: 1px solid transparent;
}

a, .made-clickable {
  cursor: help;
}

a {
  color: inherit;
  text-decoration: none;
}

a.fill-cell {
  display: block;
  height: 100%;
  width: 100%;
}

kbd {
  font-family: 'IBM Plex Mono', 'Consolas', monospace;
  font-variant: normal;
  text-transform: uppercase;
}

.heading {
  background-color: #333;
  color: #eee;
}

.heading:hover {
  background-color: #480000;
}

.subheading {
  background-color: lightgray;
  border-top-width: 2px;
  color: black;
}

.subheading:hover {
  background-color: #d3d3b0;
}

.item:hover {
  background-color: lightgoldenrodyellow;
}

.standalone, .standalone-bifurcated {
  background-color: #eef;
  color: black;
  text-align: center;
}

.standalone:hover, .standalone-bifurcated a:hover {
  background-color: #d8d8ec;
}

.number-cell {
  text-align: right;
}
