/*
  tips.css - Styling for tips (brief help) drawer hosted in the application.
  This file is part of Flood, an interactive flood-fill visualizer.

  Copyright 2021 Eliah Kagan <degeneracypressure@gmail.com>

  Permission to use, copy, modify, and/or distribute this software for any
  purpose with or without fee is hereby granted.

  THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
  REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY
  AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
  INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
  LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR
  OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
  PERFORMANCE OF THIS SOFTWARE.
*/

body {
  cursor: default;
  font-family: 'Segoe UI', 'Nimbus Sans L', 'Nimbus Sans', 'DM Sans', 'Selawik', '-apple-system', system-ui, 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-variant-numeric: tabular-nums;
  margin: 0;
}

table {
  border-collapse: collapse;
}

tfoot {
  text-align: center;
}

th, tr {
  border: 1px solid white;
}

th, td {
  padding-bottom: 0;
  white-space: nowrap;
}

td {
  border: 1px solid transparent;
}

a, .made-clickable {
  cursor: help;
}

a {
  color: inherit;
  text-decoration: none;
}

a.fill-cell {
  display: block;
  height: 100%;
  width: 100%;
}

kbd {
  font-family: 'IBM Plex Mono', 'Consolas', monospace;
  font-size: .75em;
  font-variant: normal;
  text-transform: uppercase;
}

.heading {
  background-color: #333;
  color: #eee;
}

.heading:hover {
  background-color: #480000;
}

.subheading {
  background-color: lightgray;
  border-top-width: 2px;
  color: black;
}

.subheading:hover {
  background-color: #d3d3b0;
}

.item:hover {
  background-color: lightgoldenrodyellow;
}

.standalone, .standalone-bifurcated {
  background-color: #eef;
  color: black;
  text-align: center;
}

.standalone:hover, .standalone-bifurcated a:hover {
  background-color: #d8d8ec;
}

.number-cell {
  text-align: right;
}
