body {
  cursor: default;
  font-family: 'Segoe UI', 'Nimbus Sans L', sans-serif;
  font-size: small;
  font-variant-numeric: tabular-nums;
  margin: 0;
}

table {
  border-collapse: collapse;
}

tfoot {
  text-align: center;
}

th, tr {
  border: 1px solid white;
}

th, td {
  padding-bottom: 0;
  white-space: nowrap;
}

td {
  border: 1px solid transparent;
}

a {
  cursor: help;
}

kbd {
  font-family: 'IBM Plex Mono', 'Consolas', 'Source Code Pro', monospace;
  font-variant: normal;
  text-transform: uppercase;
}

.heading {
  background-color: #333;
  color: #eee;
}

.heading:hover {
  background-color: #480000;
}

.subheading {
  background-color: lightgray;
  border-top-width: 2px;
  color: black;
}

.subheading:hover {
  background-color: #d3d3b0;
}

.item:hover {
  background-color: lightgoldenrodyellow;
}

.standalone {
  background-color: #eef;
  color: black;
  text-align: center;
}

.standalone:hover {
  background-color: #d8d8ec;
}

.number-cell {
  text-align: right;
}
